<div class="row">

<%= form_with(model: blog, local: true) do |form| %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :blog_description,  :class => "tinymce", :rows => 40, :cols => 120 %>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= tinymce %>
</div>

