<p id="notice"><%= notice %></p>

<h1>Corporate Blog</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="makto_blog_title"><h2><%= @blog.title %></h2></div>
        <div class="makto_blog_desc"><%=raw @blog.description %></div>
        <div class="makto_blog_datetime"><%= @blog.created_at.strftime("%B %d, %Y") %></div>
        <div class="makto_social_button"><%= social_share_button_tag(@blog.title) %></div>
       <hr />
    </div>
    <div class="col-lg-4">
        <div class="makto_blog_archive"><h5>Archives</h5></div>
        <div class="makto_blog_categories"><h5>Categories</h5></div>
    </div>
</div>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
