 
<%= form_for  :carton, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :organization, "ORGANIZATION NAME:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :organization, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true
          %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :firstname, "FIRST NAME:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :firstname, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true
          %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :lastname, "LAST NAME:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :lastname, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true
          %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :totalemployee, "NO OF EMPLOYEES:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :totalemployee, class: "form-control",
          :minlength=>"1", :maxlength=>"10", required: true
          %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :industry, "INDUSTRY:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9 customDropdown">
          <%= f.select :industry, ['AGRICULTURE AND ALLIED INDUSTRIES','AUTOMOBILES', 'AUTO COMPONENTS','AVIATION', 'BANKING', 'CEMENT', 'CONSUMER DURABLES', 'EDUCATION AND TRAINING','ENGINEERING AND CAPITAL GOODS', 'FINANCIAL SERVICES','GEMS AND JEWELLERY','HEALTHCARE','INFRASTRUCTURE', 'INSURANCE', 'IT & ITES', 'MANUFACTURING', 'ENGINEERING AND CAPITAL GOODS', 'FINANCIAL SERVICES','MEDIA AND ENTERTAINMENT','OIL AND GAS','PHARMACEUTICALS', 'REAL ESTATE', 'RETAIL', 'SCIENCE AND TECHNOLOGY', 'SERVICES',
            'STEEL', 'TELECOMMUNICATIONS', 'TEXTILES', 'TOURISM AND HOSPITALITY'],:prompt => 'select' %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :email, "Email:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.email_field :email, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true
          %>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :phone, "PHONE:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-2 col-xs-3">
           <%= f.text_field :countrycode, class: "form-control", :minlength=>"2", :maxlength=>"4", required: true %>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9">
          <%= f.text_field :phone, class: "form-control",
          :minlength=>"4", :maxlength=>"12", required: true
          %>
        </div>
     </div>
      <div class="actions text-center">
           <%= f.submit "SUBMIT",  class: "btn btn-info" %>
       </div>
 <% end %>
