<h2>Contact Us Form </h2>
<%= form_for  :static, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :organization, "ORGANIZATION NAME:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :organization, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true %>
        </div>
     </div>
      <div class="form-group">
        <%= f.label :name, "NAME:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :name, class: "form-control",
          :minlength=>"5", :maxlength=>"30", required: true %>
        </div>
     </div>
       <div class="form-group">
        <%= f.label :email, "EMAIL:", class: "col-lg-4 col-md-4 col-sm-3 control-label"   %>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>
      </div>
       <div class="form-group">
        <%= f.label :phone, "PHONE:", class: "col-lg-4 col-md-4 col-sm-3 control-label" %>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_field :phone, class: "form-control", :minlength=>"10", :maxlength=>"11", required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :enquiry, "ENQUIRY FOR:", class: "col-lg-4 col-md-4 col-sm-3 control-label"%>
        <div class="col-lg-8 col-md-8 col-sm-9 customDropdown">
        <%= f.select :enquiry,  [ 'Data Visusalization', 'Data Model', 'Data Analytics', 'Hosting Services', 'Bussiness Process Management', 'Enterprise Mobility' ],  prompt: 'Select'%>
        </div>
      </div>
       <div class="form-group">
        <%= f.label :description, "DESCRIPTION:", class: "col-lg-4 col-md-4 col-sm-3 control-label" %>
        <div class="col-lg-8 col-md-8 col-sm-9">
          <%= f.text_area :description, class: "form-control ",:minlength=>"25", :maxlength=>"250",required: true %>
        </div>
      </div>
     
        <div class="actions text-center">
           <%= f.submit "SUBMIT",  class: "btn btn-info" %>
        </div>
 
   <% end %>