<div id="team" class="row">
    <center><div class="teamHeader">Meet The Team</div></center>
</div>
<div  class="row">
    <div  class="teamSubHeader">Board of Directors </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "directors/vivek.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>VIVEK K SURENDRAN</h4>
                 <div>Managing Director, Chief Architect</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://www.twitter.com/viveksurendran", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/viveksurendran/", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "http://via.placeholder.com/254x226", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>PARAMESH KUMAR S</h4>
                 <div>Non Executive Director</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "#", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "#", target: :_blank %>
         </div>
    </div>
</div>
<!-- operations Image Row -->
<div class="row">
   <div class="teamSubHeader">Operations</div>
   <div class="col-lg-1"></div>
   <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/indhu2.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>INDUMATHI</h4>
                 <div>HR Executive</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/indhu_indumathi", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/indumathi-mahalingam-0ab510a4", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/karthi.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>KARTHIK KUMAR</h4>
                 <div>Operation Executive</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/9043282064", target: :_blank %>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://www.linkedin.com/in/karthikkumar-d-b4a6009a", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail ">
               <%= image_tag "employees/john.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>JOHN HENRY</h4>
                 <div>PHP Developer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/johnvelankanni", target: :_blank %>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://www.linkedin.com/in/john-henry-25716442", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 imageTop col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/baskar.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>BASKARAN</h4>
                 <div>PHP Developer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/Baskaran142", target: :_blank %>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://www.linkedin.com/in/baskar-s-52ba8711a/", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 imageTop col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/raja.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>RAJA</h4>
                 <div>Jr.Rails Developer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/rajamuthukathan", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/raja-rider-909a24147/", target: :_blank %>
         </div>
    </div>
    <div class="hidden-lg col-md-4  col-sm-4 imageTop col-xs-12">
          <div class="thumbnail">
                <%= image_tag "employees/Anitha.png", class: "img-responsive" %>
          </div>
          <div class = "caption">
                  <h4>ANITHA</h4>
                  <div>Jr. UI Dashboard Designer </div>
                  <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/Anitha25354044", target: :_blank %>
                  <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/anitha-s-073489148", target: :_blank %>
          </div>
     </div>


    <div class="col-lg-1">
    </div>
</div>
<div class="row operationImage">
   <div class="col-lg-1">
   </div>
   <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
         <div class="thumbnail">
               <%= image_tag "employees/Anitha.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>ANITHA</h4>
                 <div>Jr. UI Dashboard Designer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/Anitha25354044", target: :_blank %>
                  <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/anitha-s-073489148", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/Angel.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>ANGEL</h4>
                 <div>Jr. UI Dashboard Designer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/angelreji17", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/angel-reji-93695a150", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/saran.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>SARAN KUMAR</h4>
                 <div>Database Designer </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/Saransingn", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/saran-kumar-e-0539b3a0", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/Android-karthi.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>Karthik</h4>
                 <div>Android Developer</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/karthickrishnaB ", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/karthick-krishna-543115b8/", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 imageTop col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/rumana.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>RUMANA BEGUM</h4>
                 <div>Clients Accounts Executive </div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/rumanabegum921", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/rumana-begum-87a790135", target: :_blank %>
         </div>
    </div>
    <div class="hidden-lg col-md-4 col-sm-4 imageTop col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/madhu.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>MADHU PRASAD</h4>
                 <div> Bussiness Executive-Pentaho</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/MsMadhuprasad", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/feed", target: :_blank %>
         </div>
    </div>
    <!-- Kokila Image -->
    <div class="hidden-lg col-md-4 col-sm-4 imageTop col-xs-12">
         <div class="thumbnail">
               <%= image_tag "employees/kokila.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>Kokila</h4>
                 <div>Android Developer-Trainee</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/kokilakubendran", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/kokila-kubendran-125a61153/", target: :_blank %>
         </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row operationImage">
   <div class="col-lg-1">
    </div>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
         <div class="thumbnail">
               <%= image_tag "employees/madhu.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>MADHU PRASAD</h4>
                 <div> Bussiness Executive-Pentaho</div>
                  <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/MsMadhuprasad", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/feed", target: :_blank %>
         </div>
    </div>
     <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
         <div class="thumbnail">
               <%= image_tag "employees/kokila.png", class: "img-responsive" %>
         </div>
         <div class = "caption">
                 <h4>Kokila</h4>
                 <div>Android Developer-Trainee</div>
                 <%= link_to image_tag("twitter.jpg", alt: "linkedin"), "https://twitter.com/kokilakubendran", target: :_blank %>
                 <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://www.linkedin.com/in/kokila-kubendran-125a61153/", target: :_blank %>
         </div>
    </div> 
</div>
