<!-- Data Analytics First Row -->
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imageFullScreen">
          <%= image_tag "makto-data.jpg", :class => 'img-responsive' %> <!-- Data Analytics Image -->
          <div class="imageData">
            <ul>
                <li>DATA VISUALIZATION</li>
                <li>DATA MODELING</li>
                <li>ANALYTICS</li>
            </ul>
          </div>
      </div>
</div>
<!-- Management & Operational Dashboards  Second Row -->
<div class="row dataManagement">
   <center><h2>We create Management & Operational Dashboards</h2></center><!-- heading -->
    <div class="col-lg-6 col-md-6 col-sm-6 keyPerformanceIndicator"><!-- left column -->
          <center><%= image_tag "makto-dat.jpg" %>
          <p>Key Performance Indicators (KPI) helps in understanding how an organization
          meets its businesss goals and objectives. Makto Technology provides service on building
        intuitive KPI dashboards.</p></center>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 dataModel">
          <center><%= image_tag "makto-datamodel.png" %>
               <p>Build better data access platforms, faster performance, reduced cost
                 and easy access of data. The company provides optimization of data and
                 ETL tools.</p>
          </center>
    </div>
</div>
<!-- Third Row -->
<%= render 'static/datavisualization' %> <!-- datavisualization -->
<!-- Fourth Row -->
<%= render 'static/datamodeling' %> <!-- datamodeling -->
