<!-- bussiness process management  -->

<div class="row">
   <div class="col-lg-12 imageFullScreen">
                    <%= image_tag "bpmimage-makto.jpg", :class => 'img-responsive' %>
                    <div class="businessImageData">
                        <h3>BPM</h3>
                    </div>
   </div>
</div>

<!-- second row -->
<div class="row businessProcessImages">
   <h1>We believe business process efficiency drives <br>organizational growth</h1>  <!-- business process heading -->
   <div class="row businessProcessImagesFirstRow">
     <div style= "border-right: 1px solid #c2c2c2;"class="col-lg-6">
      <center>
          <%= image_tag "defineprocess.png", :class => 'img-responsive' %>
          <h2>Define processes</h2>
      </center>
     </div>
     <div class="col-lg-6">
      <center>
         <%= image_tag "discsys.png", :class => 'img-responsive' %>
          <h2>Integrate existing systems</h2> 
       </center>
     </div>
   </div>
    <div style= "border-right: 1px solid #c2c2c2;" class="col-lg-6">
      <center>
       <%= image_tag "processautomate.png", :class => 'img-responsive' %>
        <h2>Process Automation</h2>
      </center>
    </div>
    <div class="col-lg-6">
      <center>
       <%= image_tag "reqdoc.png", :class => 'img-responsive' %>
        <h2>Requirement-Definition-Documentation</h2>
      </center>
    </div>
</div>
<!-- Third Row -->
<div class="row businessProcessImageAndExplanation">
    <div class="col-lg-4 imageFullScreen">
    	<%= image_tag "bpm-desc.jpg", :class => 'img-responsive' %>
    </div>
    <div class="col-lg-6 businessProcessExplanation">
    	<ul>
    		<li>Streamline processess effectively by integrating existing disconnected systems.</li>
    		<li>Automate manual processess and monitor business operations.</li>
    		<li>Increase productivity and engage lessoperating cost model.</li>
    	</ul>
    </div>
</div>
<!-- fourth Row -->
<div class="businessProcessButtonRow">
<center>
    <button class="btn btn-default businessProcessFormButton"><%= link_to 'Fill the form and we will get back to you' %>
   </button>
</center>
</div>
