<div class="footer">
 <div class="container-fluid">
<!-- footer first row -->
<div class="row firstFooter">
  <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12 contactDetails">
        <div class="col-lg-5  col-xs-12 col-md-6 col-sm-6">
          <p><%= image_tag "footer/telephone.png" %>
            <span class="contactContent">CALL: 91-73391-88891</span></p>
        </div>
        <div class="col-lg-7  col-md-6 col-sm-6 col-xs-12 emailRow">
          <p><%= image_tag "footer/email.png" %>
            <span class="contactContent"> EMail: <%= link_to 'info@maktoinc.com', "http://www.google.com", target: "_blank"%></span></p>
        </div>
  </div>
  <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
        <div class="col-lg-6 hidden-sm hidden-md hidden-xs">
        </div>
        <div class="socialMedia">
           Connect us
           <%= link_to image_tag("facebook.jpg", alt: "Facebook"), " http://www.facebook.com/maktoinc", target: :_blank, :class => 'socialMediaHeading'%>
           <%= link_to image_tag("twitter.jpg", alt: "twitter"), " http://www.twitter.com/maktoinc", target: :_blank %>
           <%= link_to image_tag("linkedin.png", alt: "linkedin"), "https://in.linkedin.com/company/makto-technology-private-limited", target: :_blank %>
        </div>
  </div>
</div>
<!-- footer second row -->
<div class="row secondFooter">
  <div class="col-lg-2 col-md-0">
   </div>
   <div class="col-lg-3 col-md-3 col-sm-4"><%# Products & solutions %>
     <h4>PRODUCTS & SOLUTIONS</h4>
      <div class="maktosubHeading">
   <!--  <%= link_to 'Toruk' %> -->  
         <%= link_to 'Carton', carton_path  %><br>
        <!--  <%= link_to 'Decksys', href="http://www.decksys.com", target: :_blank %> -->
      </div>
   </div>
   <div class="col-lg-3 col-md-2 col-sm-4"><%# Services %>
       <h4>SERVICES</h4>
      <div class="maktosubHeading">
    <!-- <%= link_to 'Cloud Management' %> -->
         <%= link_to 'Data Analytics', data_analytics_path %><br>
         <%= link_to 'Data Modeling',data_analytics_path(anchor: 'data-modeling') %><br>
         <%= link_to 'Data Visualisation', data_analytics_path(anchor: 'data-visualization') %><br>
        <!-- <div class="hidden-lg hidden-md"> -->
          <%= link_to 'Enterprise Mobility', enterprise_path %><br>
          <%= link_to 'Business Process Management', business_path %>
        <!-- </div> -->
      </div>
   </div>
   <!-- <div class="col-lg-2 col-md-3 hidden-sm hidden-xs"><%# Services  %>
       <div class="sequence">
         <%= link_to 'Enterprise Mobility', enterprise_path %><br>
         <%= link_to 'Business Process Management', business_path %>
       </div>
   </div> -->
   <div class="col-lg-3 col-md-2 col-sm-4"><%# Company %>
         <h4>COMPANY</h4>
       <div class="maktosubHeading">
         <%= link_to 'Team', company_path(anchor: 'team') %><br>
         <%= link_to 'About Makto', company_path %><br>
         
        <%= link_to 'Corporate Blog', blogs_path %>
        <!-- <div class="hidden-lg hidden-md">
            <%= link_to 'Corporate Blog', blogs_path %>
         </div> -->
       </div>
   </div>
   <!-- <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><%# Company %>
       <div  class="sequence">
         <%= link_to 'Corporate Blog', blogs_path %><br>
       </div>
   </div> -->
   <div class="col-lg-1 col-md-0">
   </div>
</div>
<%# Terms & Conditon %>
<div class="row thirdFooter">
   <div class="col-lg-8 col-md-8 col-sm-12  clearfix">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p> 
              <%= link_to 'Privacy Policy', home_path, :class => 'maktofooterStyle' %>
              <%= link_to 'Terms & Conditions', home_path, :class => 'maktofooterStyle' %>
              <%= link_to 'Contact Us', contactus_path  %>
            </p>
         </div>
         <div id="sec_box" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <%= link_to 'Makto Technology Private Limited. IN', home_path %>
         </div>
   </div>
</div>
</div>
</div>

<script>
function footerAlign() {
  $('.footer').css('display', 'block');
  $('.footer').css('height', 'auto');
  var footerHeight = $('.footer').outerHeight();
  $('body').css('padding-bottom', footerHeight);
  $('.footer').css('height', footerHeight);
}


$(document).ready(function(){
  footerAlign();
});

$( window ).resize(function() {
  footerAlign();
});
</script>