<li><%= link_to 'COMPANY', company_path %></li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SERVICES<i class="fa fa-angle-down" style="font-size:16px;margin-left: 3px;"></i>
    </a>
     <ul class="dropdown-menu">
        <li><%= link_to 'Loreum' %></li>
        <li><%= link_to 'Loreum' %></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTS<i class="fa fa-angle-down" style="font-size:16px;margin-left: 3px;"></i>
    </a>
     <ul class="dropdown-menu">
        <li><%= link_to 'Toruk' %></li>
        <li><%= link_to 'Carton' %></li>
    </ul>
</li>
<li><%= link_to 'BLOG', blogs_path %></li>
<li><%= link_to 'CAREERS' %></li>
<li><%= link_to 'CONTACT US' %></li>
